@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d2d5db;
    border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9da3af;
}

.custom-today-day {
    color: #5385f3 !important;
    border: 1px solid #5385f3 !important;
}

.custom-today-day::after {
    visibility: hidden; /* hide small border under the text */
  }